{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
</head>
<style>
    body{
        background-color: cyan;
        background-image: url('static/images/heroic.jpg');
        background-position: static;
    }
</style>
<body>
    <div class="row">
        <div class="column">
            <center><a href="https://mortalkombat-mobile.fandom.com/wiki/Scorpion/MK11"><img src="{% static 'images/scorpion.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat.fandom.com/wiki/Shang_Tsung"><img src="{% static 'images/mk11 tsang tsung.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat.fandom.com/wiki/kabal"><img src="{% static 'images/mk11 kabal.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Raiden/MK11#:~:text=He%20is%20the%20MK11%20counterpart,than%20his%20Fatal%20Blow%20damage."><img src="{% static 'images/mk11 raiden.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat.fandom.com/wiki/Jade"><img src="{% static 'images/mk11 jade.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Liu_Kang/Circle_of_Shadow"><img src="{% static 'images/circle of shadow liu kang.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Kitana/Circle_of_Shadow"><img src="{% static 'images/circle of shadow kitana.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Jax_Briggs/Circle_of_Shadow"><img src="{% static 'images/circle of shadow jax briggs.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Quan_Chi/Circle_of_Shadow"><img src="{% static 'images/circle of shadow quan chi.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Kung_Lao/Circle_of_Shadow"><img src="{% static 'images/circle of shadow kung lao.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Sub-Zero/Circle_of_Shadow"><img src="{% static 'images/circle of shadow sub zero.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Shinnok/Vengeful"><img src="{% static 'images/vengeful shinnok.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Shinnok/Bone_Shaper"><img src="{% static 'images/bone shaper shinnok.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat.fandom.com/wiki/Bi-Han"><img src="{% static 'images/noob saibot.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Noob_Saibot/Klassic#:~:text=Noob%20Saibot's%20Ghost%20Ball%20(Special,considered%20Unblockable%20for%2010%20seconds.&text=Klassic%20characters%20including%20Noob%20Saibot,boost%20to%20all%20unblockable%20attacks."><img src="{% static 'images/klassic noob saibot.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Takeda/Ronin"><img src="{% static 'images/ronin takeda.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Kenshi/Ronin"><img src="{% static 'images/ronin kenshi.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Kitana/Ronin"><img src="{% static 'images/ronin kitana.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Reptile/Klassic"><img src="{% static 'images/klassic reptile.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Sub-Zero/Klassic"><img src="{% static 'images/klassic sub zero.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Scorpion/Klassic"><img src="{% static 'images/klassic scorpion.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Scorpion/Hellspawn"><img src="{% static 'images/hellspawn scorpion.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Tanya/Treacherous"><img src="{% static 'images/treacherous tanya.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Scorpion/Inferno"><img src="{% static 'images/inferno scorpion.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Sub-Zero/Grandmaster"><img src="{% static 'images/grandmaster sub zero.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Kung_Jin/Marksman"><img src="{% static 'images/marksman kung jin.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Kung_Jin/Shaolin"><img src="{% static 'images/shaolin kung jin.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Sub-Zero/Cyromancer"><img src="{% static 'images/cyromancer sub zero.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Sonya_Blade/Klassic"><img src="{% static 'images/klassic sonya blade.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Jax_Briggs/Heavy_Weapons"><img src="{% static 'images/heavy weapons jax briggs.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Liu_Kang/Flaming_Fists"><img src="{% static 'images/liu kang.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Johnny_Cage/Stunt_Double"><img src="{% static 'images/stunt double johnny cage.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Johnny_Cage/A_List"><img src="{% static 'images/a-list johnny cage.jpg' %}" width="10%"></a>
            <a href="https://mortalkombatmobile.fandom.com/wiki/D%27Vorah_(Swarm_Queen)#:~:text=3.2%20Special%20Attacks-,Description,on%20continuous%20and%20effective%20damaging.&text=This%20version%20of%20Gold%20D,player%20in%20for%20The%20Hive."><img src="{% static 'images/swarm queen dvorah.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/D%27Vorah/Venomous"><img src="{% static 'images/venomous dvorah.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Jacqui_Briggs/Kosplay"><img src="{% static 'images/kosplay jacqui briggs.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Cassie_Cage/Covert_Ops"><img src="{% static 'images/convert-ops cassie cage.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Cassie_Cage/Undercover"><img src="{% static 'images/undercover cassie cage.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Mileena/Klassic"><img src="{% static 'images/klassic mileena.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Mileena/Vampires"><img src="{% static 'images/vampires mileena.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Kitana/Mournful"><img src="{% static 'images/mournful kitana.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Ermac/Spectral"><img src="{% static 'images/spectral ermac.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Ermac/Master_of_Souls"><img src="{% static 'images/master of souls ermac.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Kano/Commando"><img src="{% static 'images/commando kano.jpg' %}" width="10%"></a>
            <a href="https://mortalkombat-mobile.fandom.com/wiki/Kano/Klassic"><img src="{% static 'images/klassic kano.jpg' %}" width="10%"></a></center>
        </div>
    </div>
</body>
</html>
