<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <title>MORTAL KOMBAT</title>
</head>
<style>
    body {
        background-color: black;
        background-image: url("static/images/heroic.jpg");
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: center center;
        background-position: fixed;
    }
    div{
        background-color: black;
        width: -1000px;
        padding: 10px;
        margin: auto;
    }
</style>
<body>
    <h1><font color="white"><font size="24px"><center>MORTAL KOMBAT</center></font></font></h1><br><br><br>
    <h2><font color="white"><center><marquee width=90%>Waiting for further updates......</marquee></center></font></h2>
    <h2 style="text-align:center;"><font color="white"><li><a href="arts">Characters</a></li></font></h2>
    <h2 style="text-align:center;"><font color="white"><li><a href="https://www.mortalkombat.com/">Download for windows</a></li></font></h2>
    <h2 style="text-align:center;"><font color="white"><li><a href="https://play.google.com/store/apps/details?id=com.wb.goog.mkx&hl=en_IN&gl=US">Download for android</a></li></font></h2>
    <h2 style="text-align: center;"><font color="white"><li><a href="https://apps.apple.com/us/app/mortal-kombat/id949701151">Download for IOS</a></li></font></h2>
    <br><br>
    <footer>
        <div class="footer">
            <h1><font color="white"><center>All Rights Reserved</center></font></h1>
            <h2><font color="white"><center>© Copyrights R.Santhosh Kumar(WIPRO EMPLOYEE)</center></font></h2>
        </div>
    </footer>    
</body>
</html>